.picker { position:absolute; margin:8px 0 0 -26px; }
.bbit-dp
{
    position:absolute;
    width:175px;    
    overflow:hidden;
    zoom:1;
    padding:0;
    font-size:11px;
    font-family:tahoma,verdana,sans-serif;
    visibility:hidden;
    background:#fff;
    left:0px;
    top:0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.bbit-dp em
{
 font-style:normal;
 font-weight:normal;    
}
.bbit-dp table
{
    width:100%;   
    table-layout: fixed;
    border-collapse: collapse;
}
.bbit-dp td th
{
    margin:0px;
}
.bbit-dp-top-center
{
    font:normal 11px tahoma,verdana,helvetica;
    cursor:pointer;
    white-space:nowrap;
    color:#fff;   
    text-align:center;
}

.bbit-dp-top-center button
{
	background:none;
	color:#fff;
    border:0 none;
    font:normal 18px tahoma,"黑体",verdana,helvetica;
    text-shadow: 0px -1px 1px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=-1);
    padding-left:3px; 
    cursor:pointer;
    margin:0;
    overflow:visible;
    width:auto;
    -moz-outline:0 none;
    outline:0 none;
   
}
.ie .bbit-dp-top-center button
{
    
}
.bbit-dp-top-right
{
    height:21px;
}

.bbit-dp .bbit-dp-top
{
  /* background:url(../images/dp/hd-sprite.gif) repeat-x 0px -83px; */
 /* background:url(../images/tbg.png) repeat-x;*/
 background: #372f2b;
 height: 41px;
}
.bbit-dp-top-right,.bbit-dp-top-left{width:40px;text-align:center;border-right: 1px solid #413a36; cursor:pointer;}
.bbit-dp-top-right{border-right:none ;border-left: 1px solid #413a36; cursor:pointer;}

.bbit-dp-top-right a,.bbit-dp-top-left a
{
    margin: 0 auto;
    display:block;
    width:16px;
    height:16px;
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer;
}
.bbit-dp-top-right a:hover,.bbit-dp-top-left a:hover
{
    -moz-opacity:1;
    opacity:1;
    filter:alpha(opacity=100);
}

.bbit-dp-top-left a
{
    background:url(../images/icon_left_right_arr.png) 2px 0 no-repeat;

}
.bbit-dp-top-right a
{
    background:url(../images/icon_left_right_arr.png) 2px -15px no-repeat;
}
.bbit-dp-inner th,.bbit-dp-inner td{
border-collapse:collapse;
}

.bbit-dp-inner thead
{
	background:#e4e4e4;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
} 
.bbit-dp-inner th
{
   text-align:right!important;
   border-bottom:1px solid #ccc;  
   color:#666;
   cursor:default;
   padding:0;
   border-collapse:collapse;
}
.bbit-dp-inner th span
{
    display:block;
    padding:8px 2px;
    color: #372f2b;
    text-align: center;
    font:normal 10px arial,helvetica,tahoma,sans-serif;
}
.bbit-dp-inner td
{
    border:1px solid #e0e0e0;
    text-align:right;
    padding:0;
    border-collapse:collapse;
    color:Black;
    text-align: center;
}
.bbit-dp a
{   
    text-decoration:none;
    color:black; 
    zoom:1; 
}
.bbit-dp-inner td a
{
    font:bold 14px proxima_novasemibold,arial,helvetica,tahoma,sans-serif;
    padding:11px 8px;
    display:block;  
    text-align:center;
	min-width:28px; 
}

.bbit-dp-inner .bbit-dp-active{cursor:pointer;color:black;}
.bbit-dp-inner .bbit-dp-selected a{ background:url(../images/icon-date-select.png) #7bab73 no-repeat center center!important; color:#FFF;   box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.3);}
.bbit-dp-inner .bbit-dp-today a{ background:#eee; padding:11px 8px;}
.bbit-dp-inner .bbit-dp-selected span{font-weight:bold; visibility: hidden;}
.bbit-dp-inner .bbit-dp-prevday a,.bbit-dp-inner .bbit-dp-nextday a{color:#black;text-decoration:none!important;}
.bbit-dp-inner a:hover,.bbit-dp-inner bbit-dp-disabled a:hover{text-decoration:none!important;color:black;background:#ddecfe;}
.bbit-dp-inner .bbit-dp-disabled a{cursor:default;background:#eee;color:#bbb;}

.bbit-dp-bottom{padding:2px;border-top:1px solid #ccc; background:url(../images/tbg.png) repeat-x}
.bbit-dp-bottom button {text-decoration:none;text-align:center;text-decoration:none!important;background:#eee;color:#666;border:1px solid;border-color:#ccc; padding:1px 3px 1px; font-size:12px ;cursor:pointer;}
.bbit-dp-mp{position:absolute;left:0;top:0;background:white;display:none;}
            
.bbit-dp-mp td{padding:2px;font:normal 11px arial,helvetica,tahoma,sans-serif;}
td.bbit-dp-mp-month,td.bbit-dp-mp-year,td.bbit-dp-mp-ybtn{border:0 none;text-align:center;vertical-align:middle;width:25%;}
.bbit-dp-mp-ok{margin-right:3px;}
.bbit-dp-mp-btns button{text-decoration:none;text-align:center;text-decoration:none!important;background:none;color:#fff;border:none;padding:3px 4px ;font:normal 11px arial,helvetica,tahoma,sans-serif;cursor:pointer;}
.bbit-dp-mp-btns{background:#372f2b}
.bbit-dp-mp-btns td{border-top:1px solid #c5d2df;text-align:center;}
td.bbit-dp-mp-month a,td.bbit-dp-mp-year a{display:block;padding:6px 0px;text-decoration:none;text-align:center;color:#666;font-size: 14px;}
td.bbit-dp-mp-month a:hover,td.bbit-dp-mp-year a:hover{color:#333;text-decoration:none;cursor:pointer;background:#F3F8FC}
td.bbit-dp-mp-sel a{padding:5px 0px; background:#F3F8FC;}
.bbit-dp-mp-ybtn a{overflow:hidden;width:15px;height:15px;cursor:pointer;background:transparent url(../images/dp/tool-sprites.gif) no-repeat;display:block;margin:0 auto;}
.bbit-dp-mp-ybtn a.bbit-dp-mp-next{background:url(../images/right-btn.png) no-repeat}
.bbit-dp-mp-ybtn a.bbit-dp-mp-prev{ background:url(../images/left-btn.png) no-repeat}
.bbit-dp-mp-ybtn{text-align:center;}
td.bbit-dp-mp-sep{border-right:1px solid #c5d2df;}


.bbit-dp-input
{
    width:298px;
    height:36px;
    padding-left:4px;
}