div.rateit
{
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

div.rateit div.rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../images/star.png);
    height: 24px;
}

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range
{
    display: inline;
}

div.rateit div.rateit-hover, div.rateit div.rateit-selected
{
    position: absolute;
    left: 0px;
}

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

div.rateit div.rateit-hover
{
    background: url(../images/star.png) left -27px;
}

div.rateit div.rateit-hover-rtl
{
    background-position: right -27px;
}

div.rateit div.rateit-selected
{
    background: url(../images/star.png) left -27px;
}

div.rateit div.rateit-selected-rtl
{
    background-position: right -16px;
}

div.rateit div.rateit-preset
{
    background: url(../images/star.png) left -27px;
}

div.rateit div.rateit-preset-rtl
{
    background: url(../images/star.png) left -48px;
}

div.rateit div.rateit-reset
{
   /* background: url(../images/delete.gif) 0 0;*/
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -16px;
}

/*无hover评级*/
div.rateitltd
{
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

div.rateitltd div.rateitltd-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../images/star.png);
    height: 24px;
}

div.rateitltd div.rateitltd-selected
{
    background: url(../images/star.png) left -27px;
}

/* for IE 6 */
* html div.rateitltd, * html div.rateitltd div.rateitltd-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateitltd, * + html div.rateitltd div.rateitltd-range
{
    display: inline;
}

div.rateitltd div.rateitltd-hover, div.rateitltd div.rateitltd-selected
{
    position: absolute;
    left: 0px;
}

div.rateitltd div.rateitltd-hover-rtl, div.rateitltd div.rateitltd-selected-rtl
{
    left: auto;
    right: 0px;
}

div.rateitltd div.rateitltd-hover
{
    background: url(../images/star.png) left -27px;
}

div.rateitltd div.rateitltd-hover-rtl
{
    background-position: right -27px;
}

div.rateitltd div.rateitltd-selected
{
    background: url(../images/star.png) left -27px;
}

div.rateitltd div.rateitltd-selected-rtl
{
    background-position: right -16px;
}

div.rateitltd div.rateitltd-preset
{
    background: url(../images/star.png) left -27px;
}

div.rateitltd div.rateitltd-preset-rtl
{
    background: url(../images/star.png) left -48px;
}

div.rateitltd div.rateitltd-reset
{
    /* background: url(../images/delete.gif) 0 0;*/
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -16px;
}
