/*
*2013 csoow.net . All Rights Reserved
*author newallah@gmail.com (@xiaoheaipaizhao)
*version:v1.0 /2013/8/20
*description: 样式初始化工作
*
*/

/*********************************************************************
*初始化样式
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
hr,
table,
caption,
th,
td,
form,
fieldset,
input,
button,
textarea{
  margin:0;
  padding:0;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
caption,
th{text-align:left;
  font-weight:normal;
}
html,
body,
fieldset,
img,
iframe,
button,
abbr{
  border:0;
}
b,
i,
cite,
em,
address{
  font-style:normal;
}
li{
  list-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small{
  font-size:100%;
}
hr {
   color: #333;
}
q:before,q:after{content:none;}
textarea{
  overflow:auto;
  resize:none;
}
label{
  cursor:default;
}
a,
button{
  cursor:pointer;
}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,
textarea,
input,
button,
select{font:14px/1.12 "宋体",arial;
  color:#5f5f5f;
  outline:0;
}
body{
  background:#fff;
}