.preview img{max-width:270px;height:auto;vertical-align:middle;}
.fbox { margin-top: 3px; overflow: hidden}
.preview{float:left; border: 1px solid #ddd; min-height: 25px; font-size: 12px;}
.preview span{vertical-align: middle;margin-left: 10px;}
.filename{ float: left; margin-left: 55px;}
a.upload-delete {padding-left: 25px; color: #999; background: url("../images/icon-remove.png") no-repeat left center;}
.annex .progressbar{background: #EEE;z-index: -1;}
.progressbar{margin: 3px 0 0 3px; position: absolute;width: 270px; top: 0; bottom: 0; background: #000; overflow: hidden; height: 100%; opacity: .7}
.uploadWrap .progressbar{ margin:0;}
.progressbar span{position: absolute;display: block;color: #fff;text-align: right;bottom: 0;right: 5px;font-size: 30px;line-height: 1.3;}
.boxprogressbar{ width: auto!important; height: auto!important; max-width: 310px; max-height: 250px;}
#main{width:720px;margin:0px auto;}
#logo-container{text-align:center;padding-top:100px;}
#logo-container img{width:303px;height:146px;}
.header-doprogressbarwnload{float:right;}
.dragover {border: 1px dashed #f00}
.file_uploadbox {display: none}
#upload > div{ position: relative; clear:both; }
.ava-title { margin-bottom: 15px;}
.ava-title .ava1 { display: inline-block; width: 250px;}
.ava-title .ava2 { display: inline-block; width: 246px;}

.upload-area { float: left; position: relative; background:url(../images/bg_borderbg.png) no-repeat;}
.upload-editarea { display: none; float: left; width: 250px; max-height: 250px; }
.upload-editarea img{ max-width: 250px!important; max-height: 250px!important; text-align: center;}
.upload-area .des { font-size: 12px; color: #999}

/*头像样式*/
.avatar-area { float: left; margin: 0 0 0 64px; text-align: center;}
.avatar-smallarea { float: left; margin:0 0 0 35px; width: 95px; text-align: center;}
.avatar-smallarea .avatar { margin-bottom: 28px;}
.avatar-smallarea .avatar img{ vertical-align: bottom;}
.avatar-area .des { display: inline-block; margin-top: 8px; font-size: 12px; font-size: 12px; color: #333; line-height: 1.2}
.avatar-smallarea .des { display: block; font-size: 12px; line-height: 1.2} 
.avatar{ vertical-align: bottom; }
/*.avatar img{vertical-align:top;border-radius: 3px;}*/
.tent .w250{width:250px;height:250px; overflow: hidden; line-height: 1;border-radius: 3px;}
.tent .w90{width:90px;height:90px; overflow: hidden; line-height: 1; margin: 0 auto 5px auto;border-radius: 3px;}
.tent .w32{width:32px;height:32px; overflow: hidden; line-height: 1; margin: 0 auto 5px auto;border-radius: 3px;}

/*上传框样式*/
.avatar-box {width: 216px; height: 146px; margin-top: 0}
.upload{padding: 92px 7px 12px 27px; line-height: 20px;color: #8e8e8e;font-size: 12px;box-shadow: inset 0px 1px 2px #F1F1F1;
}
.uploadbox{ cursor: pointer;}
.dragover {border: 1px dashed #f00}
#upload > div{clear:both;}

.uploadWrap {margin-bottom: 25px;padding: 5px;width: 368px;min-height: 190px;box-shadow: 0 1px 2px #F1F1F1 inset;border: 1px solid #eaeaea;background: #f9f9f9;}

.task-upload .progressbar{ float: left; margin: 0; width: 150px; position: static; height: 12px; border-radius: 6px; border: 1px solid #acacac; background: #f0f0f0}
.task-upload .progressbar i{ float: left; background: #238C00; display: inline-block; height: 14px;}
.task-upload .upload_p { float: left; display: block; line-height: 1.2; margin: 0 0 0 5px; color: #999}
